<template>
  <nav
    class="uk-navbar-container"
    uk-navbar
  >
    <section class="uk-navbar-left">
      <a
        class="uk-navbar-toggle"
        click.delegate="onCanvasToggle()"
      >
        <span uk-navbar-toggle-icon></span>
        <span
          class="uk-margin-small-left"
          i18n="app.menuLabel"
        >Menu</span>
      </a>
    </section>
    <section class="uk-navbar-right">
      <ul class="uk-iconnav">
        <li
          if.bind="authenticated"
          repeat.for="nav of router.navigation"
        >
          <a
            uk-icon.bind="`icon: ${nav.settings.icon}`"
            route-href.bind="nav.config.name"
          >${nav.title}</a>
        </li>
        <li if.bind="authenticated">
          <span uk-icon="icon: sign-out"></span>
          <span
            class="uk-small-margin-left"
            i18n="signup.signout"
          >Cerrar sesion</span>
        </li>
        <li if.bind="!authenticated">
          <a route-href="signin">
            <span uk-icon="icon: sign-in"></span>
            <span
              class="uk-small-margin-left"
              i18n="signin.navIconLabel"
            >Iniciar Sesion</span>
          </a>
        </li>
        <li if.bind="!authenticated">
          <a route-href="signup">
            <span uk-icon="icon: user"></span>
            <span
              class="uk-small-margin-left"
              i18n="signup.navIconLabel"
            >Crear Cuenta</span>
          </a>
        </li>
      </ul>
    </section>
  </nav>
</template>
