<template>
  <form
    class="uk-flex uk-flex-center"
    submit.trigger="resetPassword()"
  >
    <fieldset class="uk-fieldset">
      <legend
        class="uk-legend"
        i18n="forgot.title"
      >
        Olvide la contraseña
      </legend>
      <section class="uk-margin">
        <label
          for="email"
          i18n="forgot.email.label"
        >Correo</label>
        <input
          type="email"
          class="uk-input"
          name="email"
          placeholder="${'forgot.email.placeholder' | t }"
          value.bind="email"
          required
        />
      </section>
      <section class="uk-margin">
        <button
          class="uk-button uk-button-small uk-button-primary"
          disabled.bind="!canSubmit"
        >
          <span uk-icon="mail"></span>
          ${'forgot.sendBtn' | t}
        </button>
      </section>
    </fieldset>
  </form>
</template>
