<template>
  <form
    submit.trigger="signin()"
    class="uk-flex uk-flex-center"
  >
    <fieldset class="uk-fieldset">
      <legend
        class="uk-legend"
        i18n="signin.title"
      >
        Iniciar sesión
      </legend>
      <section class="uk-margin">
        <label
          for="email"
          i18n="signin.email.label"
        >
          Correo
        </label>
        <input
          class="uk-input"
          type="email"
          name="email"
          value.bind="email"
          placeholder="${'signin.email.placeholder' | t}"
          required
        />
      </section>
      <section class="uk-margin">
        <label
          for="password"
          i18n="signin.password.label"
        >
          Contraseña
        </label>
        <input
          type="password"
          class="uk-input"
          name="password"
          placeholder="${'signin.password.placeholder' | t}"
          value.bind="password"
          required
        />
      </section>
      <section class="uk-margin">
        <button
          class="uk-button uk-button-primary uk-button-small"
          disabled.bind="!canSubmit"
          i18n="signin.signBtn"
        >
          Iniciar sesión
        </button>
        <a
          i18n="signin.forgotPw"
          class="uk-link-muted"
          route-href="forgot"
        >Olvide la contraseña</a>
      </section>
    </fieldset>
  </form>
</template>
