<template>
  <require from="./app.css"></require>
  <article class="palabrator">
    <header class="palabrator__header">
      <plb-navbar
        router.bind="router"
        authenticated.bind="authenticated"
        on-canvas-toggle.delegate="offCanvasToggle()"
      ></plb-navbar>
      <nav
        ref="offcanvasRef"
        uk-offcanvas
      >
        <section class="uk-offcanvas-bar">
          <button
            class="uk-offcanvas-close"
            type="button"
            uk-close
          ></button>
          <ul
            class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"
          >
            <li
              if.bind="authenticated"
              repeat.for="nav of router.navigation"
            >
              <a
                uk-icon.bind="`icon: ${nav.settings.icon}`"
                route-href.bind="nav.config.name"
              >${nav.title}</a>
            </li>
            <li
              class="uk-nav-divider"
              if.bind="router.navigation.length > 0"
            ></li>
            <li if.bind="authenticated">
              <span uk-icon="icon: sign-out"></span>
              <span
                class="uk-small-margin-left"
                i18n="signup.signout"
              >Cerrar sesion</span>
            </li>
            <li if.bind="!authenticated">
              <a route-href="signin">
                <span uk-icon="icon: sign-in"></span>
                <span
                  class="uk-small-margin-left"
                  i18n="signin.navIconLabel"
                >Iniciar Sesion</span>
              </a>
            </li>
            <li if.bind="!authenticated">
              <a route-href="signup">
                <span uk-icon="icon: user"></span>
                <span
                  class="uk-small-margin-left"
                  i18n="signup.navIconLabel"
                >Crear Cuenta</span>
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </header>
    <main class="palabrator__main">
      <router-view></router-view>
    </main>
    <footer class="palabrator__footer">
      &copy; Tunaxor Apps. 2019 - Palabrator
    </footer>
  </article>

</template>
