.palabrator {
  display: grid;
  grid-template: 
  'header' 80px
  'main' 80vh
  'footer' 5vh / auto;
  overflow: hidden;
}

.palabrator__header {
  grid-area: 'header';
}

.palabrator__main {
  grid-area: 'main';
  overflow: auto;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
}

.palabrator__footer {
  grid-area: 'footer';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
